<h1>Pick <%= "#{pick.index}" %></h1>

<%= form_for pick, remote: true do |f| %>
  <% optionsHash = {} %>
  <% optionsHash = { value: pick.player.id } if pick.player %>
  <%= f.hidden_field :player_id, optionsHash %>
  <div class="player-search">
    <%= label_tag :full_name, "Player" %>
    <% optionsHash = {class: "form-text", id: "player-search", placeholder: "Empty", autocomplete: "off"} %>
    <% optionsHash[:value] = "#{pick.player.full_name} (#{pick.player.pro_team} - #{pick.player.position})" if pick.player %>
    <%= text_field_tag :full_name, nil, optionsHash %>
    <div class="player-search-autocomplete">
      <ul id="player-search-ul">

      </ul>
    </div>
  </div>
  <%= f.label :team_id, "Team", class: 'no-clear' %>
  <%= f.select :team_id, pick.team.mock.teams.collect { |t| [t.name, t.id] }, {}, class: "form-text" %>
  <div class="center-wrap">
    <%= f.submit "Save", class: "btn btn-blue btn-md" %>
  </div>
<% end %>

