<!DOCTYPE html>
<html>
<head>
  <title>Mocked And Loaded</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <%= render "layouts/nav" %>
  </div>

  <div class="row">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <div class="row">
    <%= render "layouts/footer" %>
  </div>

  <div class="modal">
    <div class="modal-content">
    </div>
  </div>

  <%= debug(params) if Rails.env.development? %>
</body>
</html>
